.line-through {
    text-decoration-line: line-through;
  }
  
  .filter_item-link {
    word-break: break-word;
    transition: all 0.1s;
  }
  
  .filter-item-link:hover {
    transition: all 0.1s;
    box-shadow: 0px 0px 6px 1px rgba( 0, 0, 0, .1 );
  }
  
  .filter-item-reduction {
    position: absolute;
    width: 3.2rem;
    height: 3.2rem;
    line-height: 3.2rem;
    top: 3px;
    right: 0;
    text-align: center;
    font-weight: 700;
    background-color: #ffed6b;
    border-radius: 50%;
  }
  
  .filter-item-img {
      max-height: 188px;
      min-height: 188px;
  }
  
  .filter-item-title {
    max-height: 4.8rem;
    min-height: 4.8rem;
    overflow: hidden;
    line-height: 2rem;
  }
  
  .fixed-height-32 {
    max-height: 4rem;
    min-height: 4rem;
    padding: 0.2rem 0 0;
  }
  
  .filter-item-clubR img{
    width: 5.5rem;
  }
  
  .fixed-height-16 {
    max-height: 2rem;
    min-height: 2rem;
    padding: .4rem 0 0;
  }
  
  /** ------------ Rating system ------------ **/
  
  .filter-item-rating-stars {
    background-image: url('https://pmcdn.staticpmrk.com/visuels/2017/hpassets/rate.svg');
    background-repeat: no-repeat;
    width: 8rem;
    height: 2.1rem;
  }
  
  .rating_0 .filter-item-rating-stars {
    background-position: -8rem 0;
  }
  
  .rating_5 .filter-item-rating-stars {
    background-position: -8rem -2rem;
  }
  
  .rating_10 .filter-item-rating-stars {
    background-position: -6.4rem 0;
  }
  
  .rating_15 .filter-item-rating-stars {
    background-position: -6.4rem -2rem;
  }
  
  .rating_20 .filter-item-rating-stars {
    background-position: -4.8rem 0;
  }
  
  .rating_25 .filter-item-rating-stars {
    background-position: -4.8rem -2rem;
  }
  
  .rating_30 .filter-item-rating-stars {
    background-position: -3.2rem 0;
  }
  
  .rating_35 .filter-item-rating-stars {
    background-position: -3.2rem -2rem;
  }
  
  .rating_40 .filter-item-rating-stars {
    background-position: -1.6rem 0;
  }
  
  .rating_45 .filter-item-rating-stars {
    background-position: -1.6rem -2rem;
  }
  
  .rating_50 .filter-item-rating-stars {
    background-position: 0 0;
  }
  
  /** bloc club R **/
  .filter-bloc-clubR {
    background-image: url(https://pmcdn.staticpmrk.com/visuels/canopy-commons/BG_flux_desk.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border: 1px solid #ddd;
  }
  
  /** ------------ DESKTOP + COMMON PARTS ------------ **/
  
  /* .sellers-flux-list,
  .mchProducts-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .mchProduct {
    min-height: 392px;
    max-height: 392px;
  }
  
  .seller-flux {
    min-height: 440px;
    max-height: 440px;
  }
  
  .seller-flux,
  .mchProduct {
    position: relative;
    box-sizing: border-box;
    width: 25%;
    border-top: 1px solid var(--pmrk-grey-light);
    border-left: 1px solid var(--pmrk-grey-light);
    padding: 20px;
  }
  
  .seller-flux:nth-last-child(-n+4),
  .mchProduct:nth-last-child(-n+4) {
    border-bottom: 1px solid var(--pmrk-grey-light);
  }
  
  .seller-flux:last-child,
  .mchProduct:last-child {
    border-right: 1px solid var(--pmrk-grey-light);
  }
  
  .seller-flux-url,
  .mchProduct-url {
    color: var(--pmrk-black);
    text-decoration: none;
  }
  
  .seller-flux-url:hover,
  .mchProduct-url:hover {
    text-decoration: none !important;
  }
  
  .seller-flux-reduction {
    position: absolute;
    width: 60px;
    height: 40px;
    line-height: 40px;
    top: 15px;
    left: 0;
    text-align: center;
  }
  
  .seller-flux-reduction li {
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(232, 232, 232, 0.8);
    color: var(--pmrk-black);
  }
  
  .seller-flux-image,
  .mchProduct-image {
    width: 100%;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .seller-flux-image_picture,
  .mchProduct-image_picture {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .seller-flux-title,
  .mchProduct-title {
    max-height: 38px;
    min-height: 38px;
    overflow: hidden;
    line-height: 20px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .mchProduct-title {
    padding-bottom: 0;
    margin-bottom: 10px;
  }
  
  .seller-flux-title,
  .seller-flux-originalPrice,
  .mchProduct-title {
    font-size: 14px;
  }
  
  .seller-flux-proPrice {
    font-size: 14px;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 3px;
  }
  
  .seller-flux-originalPrice {
    color: #929292;
    min-height: 18px;
    display: block;
    margin: 0;
    padding-top: 2px;
  }
  
  .seller-flux-proPrice-new span {
    color: var(--pmrk-rk-corporate-red);
  }
  
  .seller-flux-proPrice-used span {
    color: black;
  }
  
  .mchProduct-bestPrice {
    color: var(--pmrk-rk-corporate-red);
    font-size: 14px;
    max-height: 16px;
    min-height: 16px;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  
  .mchProduct-bestPrice_value {
    font-size: 16px;
    font-weight: bold;
  }
  
  .mchProduct-usedPrice {
    color: black;
    font-size: 14px;
    max-height: 16px;
    min-height: 16px;
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;
  }
  
  .mchProduct-usedPrice_value {
    font-size: 16px;
    font-weight: bold;
  }
  
  .seller-flux-newPrice {
    font-size: 16px;
    font-weight: bold;
  }
  
  .seller-flux-superpoints {
    height: 38px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 0;
  }
  
  .item-clubR {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0.5rem 0.25rem;
    border: 1px solid #eee;
  }
  
  .item-clubR img {
    width: 3.8rem;
    display: inline-block;
    margin-left: 0.25rem;
  }
  
  .item-clubR p {
    width: 115px;
    display: inline-block;
    color: var(--pmrk-rk-corporate-red);
    font-size: 14px;
    font-weight: bold;
    padding: 0.125rem 0 0 0.4rem;
    margin: 0;
  }
  
  .seller-flux-shipping {
    font-size: 14px;
    color: #929292;
    max-height: 16px;
    min-height: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .seller-flux-rating,
  .mchProduct-rating {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .mchProduct-rating_note,
  .seller-flux-rating_note {
    font-size: 14px;
    color: #929292;
    vertical-align: middle;
  }
  
  .seller-flux-rating_label,
  .mchProduct-rating_label {
    display: none;
  }
  
  .seller-flux-rating_rate,
  .mchProduct-rating_rate {
    display: inline-block;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    width: 80px;
    height: 20px;
    outline: 0;
    background-image: url('https://pmcdn.staticpmrk.com/visuels/2017/hpassets/rate.svg');
    background-repeat: no-repeat;
  }
  
  .rating_0 .seller-flux-rating_rate,
  .rating_0 .mchProduct-rating_rate {
    background-position: -80px 0;
  }
  
  .rating_5 .seller-flux-rating_rate,
  .rating_5 .mchProduct-rating_rate {
    background-position: -80px -20px;
  }
  
  .rating_10 .seller-flux-rating_rate,
  .rating_10 .mchProduct-rating_rate {
    background-position: -64px 0;
  }
  
  .rating_15 .seller-flux-rating_rate,
  .rating_15 .mchProduct-rating_rate {
    background-position: -64px -20px;
  }
  
  .rating_20 .seller-flux-rating_rate,
  .rating_20 .mchProduct-rating_rate {
    background-position: -48px 0;
  }
  
  .rating_25 .seller-flux-rating_rate,
  .rating_25 .mchProduct-rating_rate {
    background-position: -48px -20px;
  }
  
  .rating_30 .seller-flux-rating_rate,
  .rating_30 .mchProduct-rating_rate {
    background-position: -32px 0;
  }
  
  .rating_35 .seller-flux-rating_rate,
  .rating_35 .mchProduct-rating_rate {
    background-position: -32px -20px;
  }
  
  .rating_40 .seller-flux-rating_rate,
  .rating_40 .mchProduct-rating_rate {
    background-position: -16px 0;
  }
  
  .rating_45 .seller-flux-rating_rate,
  .rating_45 .mchProduct-rating_rate {
    background-position: -16px -20px;
  }
  
  .rating_50 .seller-flux-rating_rate,
  .rating_50 .mchProduct-rating_rate {
    background-position: 0 0;
  } */
  
  /** ------------ MOBILE PART ONLY ------------ **/
  
  /* .seller-flux-mob,
  .mchProduct-mob {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
  }
  
  .mchProduct-mob {
    min-height: 176px;
    max-height: 176px;
  }
  
  .seller-flux-mob {
    min-height: 240px;
    max-height: 240px;
  }
  
  .seller-flux-mob .seller-flux-superpoints {
    height: auto;
  }
  
  .seller-flux-mob-left-container,
  .mchProduct-mob-left-container {
    position: relative;
    width: 35%;
  }
  
  .seller-flux-mob-left-container .seller-flux-image,
  .mchProduct-mob-left-container .mchProduct-image {
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .seller-flux-mob-left-container .seller-flux-image_picture,
  .mchProduct-mob-left-container .mchProduct-image_picture {
    display: block;
    width: auto;
    max-width: 100%;
    max-height: 136px;
  }
  
  .seller-flux-mob-left-container .seller-flux-reduction {
    width: 48px;
    height: 24px;
    line-height: 24px;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
  }
  
  .seller-flux-mob-left-container .seller-flux-reduction li {
    font-size: 16px;
  }
  
  .seller-flux-mob-right-container,
  .mchProduct-mob-right-container {
    position: relative;
    width: 60%;
    margin-left: 5%;
  }
  
  .seller-flux-mob-right-container .seller-flux-title,
  .mchProduct-mob-right-container .mchProduct-title {
    max-height: initial;
    min-height: initial;
    overflow: unset;
    line-height: 16px;
    padding-top: 0;
    padding-bottom: var(--small-spaces);
  }
  
  .mchProduct-mob-right-container .mchProduct-title {
    margin-bottom: 0;
  }
  
  .seller-flux-mob-right-container .seller-flux-proPrice,
  .mchProduct-mob-right-container .mchProduct-bestPrice {
    padding-top: var(--small-spaces);
    padding-bottom: 0;
  }
  
  .seller-flux-mob-right-container .seller-flux-originalPrice,
  .mchProduct-mob-right-container .mchProduct-usedPrice {
    margin: 0;
    padding: 0;
  }
  
  .seller-flux-mob-right-container .seller-flux-superpoints {
    padding-bottom: var(--small-spaces);
  }
  
  .seller-flux-mob-right-container .seller-flux-rating,
  .seller-flux-mob-right-container .seller-flux-shipping {
    padding-top: var(--small-spaces);
    padding-bottom: var(--small-spaces);
  } */
  
  /** ------------ MOBILE - RESPONSIVE TABLETTE ------------ **/
  
  /* @media all and (min-width: 768px) {
    .seller-flux-mob,
    .mchProduct-mob {
      width: 33.3333%;
      padding: 20px;
      display: block;
    }
  
    .mchProduct-mob {
      min-height: 400px;
      max-height: 400px;
    }
  
    .seller-flux-mob {
      min-height: 428px;
      max-height: 428px;
    }
  
    .seller-flux-mob-left-container,
    .mchProduct-mob-left-container {
      width: 100%;
      padding-top: 10px;
    }
  
    .seller-flux-mob-right-container,
    .mchProduct-mob-right-container {
      width: 100%;
      margin-left: 0;
      display: block;
      margin-top: 15px;
    }
  
    .mchProduct-mob-left-container .mchProduct-image_picture,
    .seller-flux-mob-left-container .seller-flux-image_picture {
      width: 100%;
      max-width: 225px;
      max-height: none;
    }
  }
  
  @media all and (min-width: 1024px) {
    .seller-flux-mob,
    .mchProduct-mob {
      width: 25%;
    }
  
    .mchProduct-mob {
      min-height: 392px;
      max-height: 392px;
    }
  
    .seller-flux-mob {
      min-height: 436px;
      max-height: 436px;
    }
  } */
  