/* custom css for integ */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}
/* end custom css for integ */

.line-through {
  text-decoration-line: line-through;
}

.f10 {
  font-size: 10px;
}

.f22 {
  font-size: 22px;
}

.f34 {
  font-size: 34px;
}

.f35 {
  font-size: 35px;
}

.f54 {
  font-size: 54px;
}

.red-rkt {
  color: #bf0000;
}

.bg-red-rkt {
  background-color: #bf0000;
}

.bg-blue-4x {
  background-color: #479bd4;
}

.bg-lightgray {
  background-color: #f6f6f6;
}

.main-black {
  color: #4a4a4a;
}

.fixed-height-20 {
  max-height: 2rem;
  min-height: 2rem;
  padding: .4rem 0 0;
}

.fixed-height-21 {
  max-height: 21px;
  min-height: 21px;
}