.flux-promo-item-sticker {
    min-height: 24px;
    max-height: 24px;
    width: 120px;
    border-radius: 3px;
    transform: skew(-10deg);
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
}

.flux-promo-icon_timer {
    width: 12px;
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
}

.flux-promo-icon_heart {
    width: 12px;
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    padding-top: 2px;
    margin-left: 5px;
}

.flux-promo-item-sticker-text {
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
}

@media all and (max-width:768px) {
    .flux-promo-item-sticker {
        min-height: 18px;
        max-height: 18px;
        width: 90px;
        margin-top: 1rem;
    }
    .flux-promo-item-sticker-text {
        font-size: 10px;
    }
    .flux-promo-icon_sticker {
        width: 8px;
    }
}